name: Android CI

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    if: ${{ startsWith(github.event.head_commit.message, '[ci]') }}

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle
    - name: Retrieve version
      run: |
        echo VERSION=$(echo ${{ github.event.head_commit.id }} | head -c 10) >> $GITHUB_ENV
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: |
        ./gradlew build
    - name: Upload built apk
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: ColorOSTool-${{ env.VERSION }}.apk
        path: ${{ github.workspace }}/app/build/outputs/apk/release/ColorOSTool_v*.apk
